*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family:arial black;
	background-image:url("forest.jpg");
}
canvas{
	margin:73px;
	transform:scale(1.3);
	
}
li{
	display: inline-block;
	margin: 0 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

a:hover{
	color:white;
	cursor: pointer;
	
}
#list{
	margin-top:0px;
	background-color:#8b4513;
	width: 100%;
	height: 75px;
	text-align: center;
	
}
#lab{
	margin:38px auto;
	background-color:green;
	width:625px;
	height:625px;
	
	
}
#slika{
	
	position:relative;
	left:-225px;
	top:-230px;
	transform:scale(0.13);
	
}
#sporocilo{
	margin-bottom:0px;
	width:100%;
	height: 70px;
	text-align:center;
	background:#f44336;
	padding-top:35px;
	color:white;
}
.vidno{
	visibility:visible;
}
.nevidno{
	visibility:hidden;
}
#ikona{
	position:absolte;
	float:left;
	width: 50px;
	height:50px;
	margin-top:10px;
	margin-left:10px;
	
}
#zajc{
	position:absolute;
	left:50%;
	top:735px;
	height:16px;
	width:16px;
	
}